@model CategoryEntity
@{
    ViewData["Title"] = "AddCategory";
}

<h1>Add Category to</h1>

<form asp-controller="Category" asp-action="Save" method="post">
    <label asp-for="Name">Name of Category</label>
    <input type="text" id="Name" name="Name" placeholder="e.g Window Cleaning">
    <label asp-for="Type">Type of Category</label>
    <select asp-for="Type">
        <option value="Housekeeping"> Housekeeping </option>
        <option value="Garden"> Garden </option>
        <option value="Misc"> Miscellaneous </option>
    </select>
    <input type="submit" id="SubmitButton1" value="Add Category" />
</form>