@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <div SupplierProfile>
            Supplier Profile:
            <label class="switch">
                <input type="checkbox" id="SupSwitch" class="ProfileSwitch" onclick="check(this); ">
                <span class="slider round"></span>
            </label>
        </div>
        <div ContributerProfile>
            Contributer Profile:
            <label class="switch">
                <input type="checkbox" id="ConSwitch" class="ProfileSwitch" onclick="check(this);">
                <span class="slider round"></span>
            </label>

        </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </section>
    </div>
</div>
@* Script *@
<script>
    function check(input) {
        var checkboxes = document.getElementsByClassName("ProfileSwitch");

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked == true) {
                checkboxes[i].checked = false;
            }
        }
        if (input.checked == true) {
            input.checked = false;
        }
        else {
            input.checked = true;
        }

        FilterShow();
    }
    function FilterShow() {

        var checkBox = document.getElementById("ConSwitch");
        var filter1 = document.getElementById("filterRegister")
        var filter2 = document.getElementById("filterRegister")

        if (checkBox.checked == true) {
            filter1.style.display = "block";
            filter2.style.display = "block";
        } else {
            filter1.style.display = "none";
            filter2.style.display = "none";
        }
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
