@model BidEntity
@{
    ViewData["Title"] = "Bidding";
    var url = ViewContext.RouteData.Values["taskId"];
}

    <form method="get">
        
    </form>

<form asp-controller="Bidding" asp-action="SendBid" method="post">
    <label for="Bid">Bid :</label>
    <input type="number" id="quantity" name="Bid">DKK
    <input type="submit" value="Submit" />
</form>

