@{
    ViewData["Title"] = "RegisterInfo";
}

<h1>RegisterInfo</h1>

<form asp-controller="RegisterInfo" asp-action="UpdateRole" method="post">
    <div id="ck-button">
        <label>
            <input type="checkbox" id="SupSwitch" class="ProfileSwitch" onclick="check(this); "> <span>Supplier</span>
        </label>
    </div>

    <div id="ck-button">
        <label>
            <input type="checkbox" id="ConSwitch" class="ProfileSwitch" onclick="check(this);"> <span>Contributor</span>
        </label>
    </div>
    <input type="submit" value="Submit">
</form>

    @* Functionality (js) *@
    <script>
        function check(input) {
            var checkboxes = document.getElementsByClassName("ProfileSwitch");

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked == true) {
                    checkboxes[i].checked = false;
                }
            }
            if (input.checked == true) {
                input.checked = false;
            }
            else {
                input.checked = true;
            }

            FilterShow();
        }
        function FilterShow() {

            var checkBox = document.getElementById("ConSwitch");
            var filter1 = document.getElementById("filterRegister")
            var filter2 = document.getElementById("filterRegister")

            if (checkBox.checked == true) {
                filter1.style.display = "block";
                filter2.style.display = "block";
            } else {
                filter1.style.display = "none";
                filter2.style.display = "none";
            }
        }
    </script>
