@page
@using WebMatrix.Data;
@using System;
@using P4_Data.Entities;
@using System.Collections.Generic;
@using System.Data.SqlClient;
@using System.Text;
@model DB_TESTModel
@functions
{
    // create variable that contains database login query.
    private static string myConnectionString = "data source=p4project.database.windows.net;Initial Catalog=P4; User ID=madol;Password=KanneKaffe123";

    // list class that simply reads the specific table (Bruger) and prints it out.
    public List<Bruger> test()
    {
    // variable creation
        var brugerList = new List<Bruger>();
        SqlConnection cnn = null;

        try
        {
            // connects to the database.
            cnn = new SqlConnection(myConnectionString);
            cnn.Open();
            
            // create a variable with the query command.
            SqlCommand command = new SqlCommand("SELECT * FROM Bruger", cnn);


            //reads the table.
            using (SqlDataReader reader = command.ExecuteReader())
            {
                //as it reads a single column it will print it out untill theres no more in the table.
                while (reader.Read())
                {
                    brugerList.Add(new Bruger
                    {
                        Fornavn = (string)reader[0],
                        Efternavn = (string)reader[1],
                        Brugernavn = (string)reader[2],

                    });
                }
            }
        }
        catch (SqlException ex)
        {
            Console.WriteLine(ex.Message);
        }
        finally
        {
            // closes the connection if cnn is null.
            if (cnn != null)
                cnn.Close();

        }
        return brugerList;
    }
}


<h1>
    Database Test side.
</h1>


<form action="test">
    <label for="Fornavn">First name:</label><br>
    <input type="text" id="Fornavn" name="Fornavn" value="John"><br>
    <label for="Efternavn">Last name:</label><br>
    <input type="text" id="Efternavn" name="Efternavn" value="Doe"><br>
    <label for="Brugernavn">Brugernavn:</label><br>
    <input type="text" id="Brugernavn" name="Brugernavn" value="Doe"><br><br>
    <input type="submit" value="Submit">
</form>



<table>
    <thead>
        <tr>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Brugernavn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in test())
        {
            <tr>
                <td>@row.Fornavn</td>
                <td>@row.Efternavn</td>
                <td>@row.Brugernavn</td>
            </tr>
        }
    </tbody>
</table>
<style>
    table, th, td {
        border: solid 1px #bbbbbb;
        border-collapse: collapse;
        padding: 2px;
    }
</style>

