@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to DutyShare</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua .</p>
        <a asp-controller="Task" asp-action="OpenTasks">Work now</a> <a  asp-controller="AddTask" asp-action="Index">Hire now</a>

    </div>
