<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $('#CategorySelect').change(function () {
            $('.categories').hide();
            $('#' + $(this).val()).show();
        });
    });
</script>
@{
    ViewData["Title"] = "AddTask";
}
<h1>Create a task</h1>



<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
<form asp-controller="Task" asp-action="Save" method="post">
    <label for="Title">Task Title:</label><br>
    <input type="text" id="Title" name="Title" placeholder="Write a short description of what your task"> <br>
    <label for="Description">Task Description:</label><br>
    <input type="text" id="Description" name="Description" placeholder="Describe the task in detail e.g length, height and amount of work that needs to get done."><br>
    <label for="Salary">Estimated hourly salary:</label><br>
    <input type="number" id="Salary" name="Salary" placeholder="Work pay per hour"> DKK <br><br>
    <label for="Duration">Estimated Work Duration:</label><br>
    <input type="number" id="Duration" name="Duration" placeholder="Amount of work hours required"> Hours<br><br>
    <label for="Location">Location of task:</label><br>
    <input type="text" id="Location" name="Location" placeholder="City, Zipcode, Country"><br><br>
    <div class="form-group">
        <label> Category </label>
        <select id="CategorySelect">
            <option> Choose a Category... </option>
            <option value="Housekeeping">Housekeeping</option>
            <option value="Garden">Garden</option>
            <option value="Misc">Miscellaneous</option>
        </select>
        <span class="text-danger"></span>
    </div>
    @* HouseKeeping selected *@
    <div id="Housekeeping" class="categories" style="display:none">
        <label> Housekeeping categories </label>
        <select id="HouseKeepingSelect">
            <option> Choose a taskcategory... </option>
            <option> Cleaning </option>
            <option> Plumbing</option>
            <option> Painting </option>
            <option> Mason </option>
            <option> Carpentry and woodworking </option>
            <option> Electrician </option>
            <option> Handyman </option>
            <option> Architecht and engineer </option>
            <option> Window cleaning </option>
        </select>
    </div>
    @* Garden selected *@
    <div id="Garden" class="categories" style="display:none">
        <label> Garden categories </label>
        <select id="HouseKeepingSelect">
            <option> Choose a taskcategory... </option>
            <option>Lawnmowing</option>
            <option>Planting in garden</option>
            <option>Planting in terrace</option>
            <option>Hedge trimming</option>
            <option>Tree cutting</option>
            <option>Pruning</option>
            <option>Other gardening</option>
        </select>
    </div>
    @* Miscellaneous selected *@
    <div id="Misc" class="categories" style="display:none">
        <label> Miscellaneous categories </label>
        <select id="HouseKeepingSelect">
            <option> Choose a taskcategory... </option>
            <option>Childcare</option>
            <option> Dogcare </option>
            <option>Garden</option>
            <option>Waitress or other event aid</option>
            <option>Homework helper</option>
            <option>Tech helper (mobile, pc, tv)</option>
            <option> Repair/Provisioning of bikes, cars and boats </option>
            <option> Other </option>
        </select>
    </div>

    <input type="submit" id="SubmitButton1" value="Create Task" />
</form>

