@model IEnumerable<CategoryEntity>
@{
    ViewData["Title"] = "ShowCategories";
}

<h1>Current categories</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Hej</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
        <td> no items </td>
        <td> no items </td>
    }
    else
    {
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.Name</td>
                <td>@row.Type</td>
                <td> <input asp-controller="Category" asp-action="Delete" asp-route-name="@row.Name" type="submit" id="SubmitButton1" value="Delete" /> </td>
            </tr>
            
        }
    }
        </tbody>
    </table>
    <style>
        table, th, td {
            border: solid 1px #bbbbbb;
            border-collapse: collapse;
            padding: 2px;
        }
    </style>


    <input type="button" value="Add category" onclick="openpopup()">



    <script>
        function openpopup()
        {
          window.open("@Url.Action( "Index", "Category")","Categories","[width=100,height=200,scrollbars=no,resizable=no]")
        }
    </script>
