@using P4ProjectWebsite.Roles;
@using P4_Data.Entities;

@model DisplayViewModel

@{ }

<div>
    <div>
        <h2>Role List</h2>
        <ul>
            @foreach (var role in Model.Roles)
            {
                <li>
                    @role
                </li>
            }
        </ul>
    </div>
</div>
<div>
    <partial name="_AddUserToRole" model="new RolesEntityUpdate() { Users = Model.Users, Roles = Model.Roles }">
</div>